{% extends 'base.html' %} 

{% block content%}

<!-- <h1>Delete {{object.name}}</h1> -->

<button type="button" class="btn btn-danger" data-target="#deleteModal" data-toggle="modal">Delete Item</button>
<!-- Modal -->
<div class="modal fade" id="deleteModal">
 <div class="modal-dialog">
  <div class="modal-content">
   <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
   </div>
   <div class="modal-body">
    <p>Are you sure you want to delete?{{ object.name }}</p>
  </div>
  <div class="modal-footer">
   <button type="button" class="btn btn-secondary" id="close-modal">No</button>
    <button type="button" class="btn btn-danger">Yes</button>
   </div>
  </div>
 </div>
</div>

<h4>Are you sure you want to delete <span >{{ object.name }}</span>?</h4>
<h6 style="color: red;">This action is not reversable!</h6>

<form action="" method="POST">
    {% csrf_token %}
    <input type="submit" value="Yes - Delete!" class="btn btn-danger">
    <a href="{% url 'bussines_portal_app:organization_index' %}" class="btn btn-outline-success">Cancel</a>
</form>
<div class="mb-3">
    
  </div>
{% endblock %}