{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container forms-h1 mt-5">

{%if object%}
<h1>Edit {{object.name}}</h1>
{%else%}
<h1>Create Plan</h1>
{%endif%}
<form class="form-card mt-3" action="" method="POST" >
    {% csrf_token %}
    <div class="mb-3">
      <label  class="form-label">Name</label>
      <input type="text" value="{{object.name}}" class="form-control"
      name='name' >
    </div> 
      <div class="mb-3">
        <label  class="form-label">Price</label>
        <input type="text" class="form-control"
        name='price' value="{{ object.price}}">
      </div>
      <div class="mb-3">
        <label  class="form-label">Members Number</label>
        <input type="text" class="form-control"
        name='member_number' value="{{ object.member_number}}">
      </div>
      <!-- {{ planfeature }} -->
      <!-- {{ form.plan_feature }} -->

      <div class="mb-3">
        <label  class="form-label">Features</label>
        <select name='plan_feature' class="form-control" multiple="multiple">
            {% for feature in planfeature %}
                <option value="{{ feature.id }}">
                    {{ feature }}
                </option>
            {% endfor %}
        </select>
      </div>
      <!-- <div class="mb-3">
        <label  class="form-label">Features</label>
        <input type="text" class="form-control"
        name=' features ' value="{{ object.features}}">
      </div> -->
      
     
      
     
      
     
     
    <button type="submit" class="btn btn-dark">Submit</button>
  </form>

</div>
{%  endblock  %}